<h3 xmlns="http://www.w3.org/1999/html">Future States</h3>
<div>
    Future states allows UI-Router state definition to be deferred to runtime.
</div>
        <div>
            In AngularJS, there are two phases to boostrapping and launching an application.  The <em>config</em> 
            phase and the <em>runtime</em> phase.  UI-Router exposes a $stateProvider for declaring application states
            during the <em>config</em> phase.  Once the application enters the runtime phase, $stateProvider is no longer
            available.
        </div>