<div class="page-header">
    <h1>FutureStates
        <small>Delayed state definition</small>
    </h1>
</div>

<section class="panel panel-default">
    <div class="panel-heading">
        <div><strong>Delayed declaration of states</strong></div>
    </div>

    <div class="panel-body">
        <p>
            AngularJS has two phases for boostrapping and launching an application, the <code>config</code>
            phase and the <code>runtime</code> phase.
        </p>

        <p>
            UI-Router exposes a <code>$stateProvider</code> for declaring application states
            during the <code>config</code> phase. Once the application enters the runtime phase,
            <code>$stateProvider</code> is usually no longer available.
        </p>

        <p>
            FutureStates are <em>placeholders</em> for states (or entire trees of states), whose full definition is
            not yet known. Full UI-Router state definition (and registration with $stateProvider) is deferred until
            runtime.
        </p>
    </div>
</section>

<p>
    FutureStates are markers (placeholders) in the state hierarchy (or url hierarchy) which tells $futureStateProvider
    that some state (or state tree) needs to be loaded on demand when the user tried to activate the placeholder state
    (or some substate), or navigate to a URL which the placeholder URL includes.
</p>

<section class="panel panel-default">
    <div class="panel-heading"><strong>FutureState definition</strong></div>
    <div class="panel-body">
        <div>FutureStates have the following attributes:</div>
        <dl class="dl-horizontal">
            <dt>stateName
            <dt>
            <dd>The placeholder state name (fully qualified)</dd>

            <dt>pathFragment
            <dt>
            <dd>The placeholder url path fragment</dd>

            <dt>type
            <dt>
            <dd>The type of FutureState. This is a used to select a registered StateFactory which is then used
                to build the full UI-Router state
            </dd>
        </dl>
    </div>
</section>
        
