<div class="container">
    <h3>UI-Router Extras</h3>
    <aside class="well">
        <a href="http://angular-ui.github.io/ui-router/">UI-Router</a> is the defacto router for AngularJS.  
        The UI-Router-Extras project enhances UI-Router with three additional features.
    </aside>
    
    <h4><a ui-sref="^.sticky">Sticky States</a> <small>(aka Parallel States)</small></h4>
    <section class="well-sm">
        <p>
            Sticky States allows a tree of states to be long-lived, running concurrently alongside one or more other state
            trees.  This is also sometimes referred to as Parallel States.
            The basis for this functionality is to implement a "tabs" use case.  Using UI-Router Extras Sticky States,
            a single page angular app can implement independent tab state trees, which operate in parallel to each other.
        </p>
    </section>

    <h4><a ui-sref="^.dsr">Deep State Redirect</a></h4>
    <section class="well-sm">
        <p> Deep State Redirect facilitates stateful navigation between different modules with complicated nested states.</p>
        <p> Individual states can be marked as Deep State Redirect.  When navigated to, these states will redirect
            to their most recently active substate.
        </p>
    </section>

    <h4><a ui-sref="^.future">Future States</a></h4>
    <section class="well-sm">
        <p>
            Future States allow the UI-Router state tree to be late-bound.  The application's state tree can be loaded 
            at Runtime.  Also, states can be lazy loaded (late binding), waiting until there is a request to transition 
            to the state.
        </p>
    </section>
</div>