<h5>Note: The Previous State service is experimental, and may be replaced by something else in the future</h5>
<div class="page-header">
    <h1>Previous State</h1>
</div>

<div class="btn-group btn-group-lg">
    <button class="btn btn-primary" ng-click="scrollTo('overview')"><span>Overview</span></button>
    <button class="btn btn-primary" ng-click="scrollTo('api')">API</button>
    <a href="example/previous/index.html" class="btn btn-primary">Go to Example</a>
</div>
<br><br>
<div id="overview"  ng-include="'partials/previous/overview.html'"></div>
<div id="api"       ng-include="'partials/previous/api.html'"></div>
<!--<div id="example"   ng-include="'partials/future/example.html'"></div>     -->
