<div class="panel panel-primary">
    <div class="panel-heading"><h2>API</h2></div>
</div>

<div class="container-fluid">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><code>sticky</code></strong></div>
        <div class="panel-body">
            <div>Mark a state with <code>sticky: true</code>. </div>
            <div>Also mark as <code>deepStateRedirect: true</code> to get the tab to redirect.</div>
            <div>Create a view targetting a named ui-view in the parent state</div>
<pre>var myState = {
    name: 'foo.bar',
    url: '/bar',
    views: {
        'bar@foo': {
            template: '&lt;div&gt;{{templatestuff}}&lt;/div&gt;,
            controller: 'barCtrl',
        }
    },
    deepStateRedirect: true,
    sticky: true
}</pre>
            
            <div>in the template for the 'foo' state, create a ui-view named 'bar'</div>
            
<pre>
&lt;div ui-view='bar' /&gt;    
</pre>
        </div>
    </section>
    
    <section class="panel panel-default">
        <div class="panel-heading"><strong>debug logging</strong></div>
        <div class="panel-body">
            <div>
                <code>$stickyStateProvider</code> can be configured to log debugging information. 
<pre>$stickyStateProvider.enableDebug(true);</pre>
            </div>
        </div>
    </section>
</div>
