<div id="api" class="panel panel-primary">
    <div class="panel-heading"><h2>API</h2></div>
</div>

<div class="container-fluid">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><code>deepStateRedirect</code></strong></div>
        <div class="panel-body">
            <div>Mark a state with <code>deepStateRedirect: true</code></div>
<pre>var myState = {
    name: 'foo.bar',
    url: '/bar',
    template: '&lt;div&gt;{{templatestuff}}&lt;/div&gt;,
    controller: 'barCtrl',
    deepStateRedirect: true
}</pre>
        </div>
    </section>
</div>
