<div class="panel panel-primary">
    <div class="panel-heading"><h2>Overview</h2></div>
</div>

<div class="container-fluid">
    <section class="panel panel-default">
        <div class="panel-heading">
            <div><strong>Deep State Redirect</strong></div>
        </div>
        <div class="panel-body">
            <p> Deep State Redirect (DSR) is a marker you can add to a state definition.</p>
            <p> When a substate of the DSR marked state is activated, DUI-Router Extras remembers that state  and its 
                parameters.  The most-recently-activate substate of the DSR marked state is remembered when the user
                navigates anywhere else in the state tree.  When the DSR marked state is transitioned to directly, UI-Router
                Extras will instead redirect to the remembered state and parameters.
            </p>
            <p>
                The basis for this use case for this feature is navigation based.  In the "tabs" use case, you could mark
                the tab as <code>deepStateRedirect</code>.  When the user navigates into the tab, and drills down to a substate,
                DSR will remember the substate.  The user can then navigate to other tabs (or somewhere else completely).  When
                they click the original tab again, it will transition to the previous state and parameters of that tab, making it
                appear that the tab was never destructed.
            </p>
            <p>
                Deep State Redirect can be used with StickyStates, or on its own.  If used with a Sticky State, the states
                will be reactivated, and the DOM will be unchanged (as opposed to the states being re-entered and controllers
                re-initialized)
            </p>
        </div>
    </section>
</div>
