<h5>Employee</h5>

<div scope-age ></div>
<form>
    <div class="form-group">
        <label for="name">Name:</label> <input class="form-control" id="name" ng-model="employee.name">
        <label for="age">Age:</label> <input id="age" class="form-control" ng-model="employee.age">
        <label for="eyeColor">Eye Color:</label> <input class="form-control" id="eyeColor" ng-model="employee.eyeColor">
        <label for="gender">Gender:</label> <input class="form-control" id="gender" ng-model="employee.gender">
        <label for="email">Email:</label> <input class="form-control" id="email" ng-model="employee.email">
        <label for="phone">Phone:</label> <input class="form-control" id="phone" ng-model="employee.phone">
        <label for="address">Address:</label> <textarea class="form-control" id="address" ng-model="employee.address"></textarea>
        <label for="address">Notes:</label> <textarea class="form-control" id="notes" ng-model="employee.notes" placeholder="Enter some notes!"></textarea>
    </div>
</form>
