<div class="col-sm-6">
    This app has a state tree that looks like this:
    <div state-vis width="400" height="400">vis</div>

    <div style="border: 1px solid lightgray; padding: 1em; ">
        <legend>legend</legend>
        <b> <span style="padding: 0.25em; background-color: #AF0;">Entered</span>
            <span style="padding: 0.25em; background-color: #0F0;">Active</span>
            <span style="padding: 0.25em; background-color: #55F;">Inactive</span>
            <span style="padding: 0.25em; background-color: #777;">Exited</span>
        </b>
    </div>
</div>
