<div class="page-header">
    <h1>FutureStates
        <small>Delayed state definition</small>
    </h1>
</div>

<div class="btn-group btn-group-justified">
    <button ng-click="scrollTo('#overview')">Overview</button>
    <button ng-click="scrollTo('#api')">API</button>
    <button ng-click="scrollTo('#example')">Example</button>
</div>

<div id="overview"  ng-include="'partials/future/overview.html'"></div>
<div id="api"       ng-include="'partials/future/api.html'"></div>
<div id="example"   ng-include="'partials/future/example.html'"></div>     
        
