<div class="page-header">
    <h1>FutureStates
        <small>Delayed state definition</small>
    </h1>
</div>

<div class="btn-group btn-group-lg">
    <button class="btn btn-primary" ng-click="scrollTo('overview')"><span>Overview</span></button>
    <button class="btn btn-primary" ng-click="scrollTo('api')">API</button>
    <a href="example/future/index.html" class="btn btn-primary">Go to Example</a>
</div>
<br><br>

<div id="overview"  ng-include="'partials/future/overview.html'"></div>
<div id="api"       ng-include="'partials/future/api.html'"></div>
<!--<div id="example"   ng-include="'partials/future/example.html'"></div>     -->
