<div id="overview" class="panel panel-primary">
    <div class="panel-heading"><h2>Overview</h2></div>
</div>

<div class="container-fluid">
    <section class="panel panel-default">
        <div class="panel-heading">
            <div><strong>Delayed declaration of states</strong></div>
        </div>

        <div class="panel-body">
            <p>
                AngularJS has two phases for boostrapping and launching an application, the <code>config</code>
                phase and the <code>runtime</code> phase.
            </p>

            <p>
                UI-Router exposes a <code>$stateProvider</code> for declaring application states
                during the <code>config</code> phase. Once the application enters the runtime phase,
                <code>$stateProvider</code> is usually no longer available.
            </p>

            <p>
                FutureStates are <em>placeholders</em> for states (or entire trees of states), whose full definition is
                not yet known. FutureStates are declared at config time (or optionally at runtime), and replaced with
                a full UI-Router state when navigated to.  The full UI-Router state is registered with $stateProvider.
            </p>
        </div>
    </section>

    <section class="panel panel-default">
        <div class="panel-heading">
            <div><strong>Late state binding process</strong></div>
        </div>

        <div class="panel-body">
            <p>
            <ul>
                <li>
                    When a transition is requested to a state that doesn't exists, $futureStatesProvider checks if the
                    missing
                    state maps to a FutureState, or any possible decendant of a FutureState.
                </li>
                <li>
                    When it finds a placeholder that may map to the missing state, it pretends that the transition
                    occurred successfully (according to the URL).
                </li>
                <li>It then begins the lazy loading of the full UI-Router state definition.</li>
                <li>When that promise resolves, it re-attempts the transition.</li>
                <li>If the re-attempt fails, a stateChangeError occurs
                    <small>(TODO: should have a rule to transition back to the previous state)</small>
                </li>
            </ul>
            </p>
        </div>
    </section>

    <section class="panel panel-default">
        <div class="panel-heading">
            <div><strong>Delayed loading of state code/templates</strong></div>
        </div>

        <div class="panel-body">
            <p>
                Late binding of states at runtime allows you to load states from a file, or from a serverside
                API.  However, late binding alone does not solve the problem of delaying the loading of JS code and
                templates until they are needed.  You must use another tool to dynamically load your states templates
                and controllers, and add them to the angular environment.  
            </p>
            
            <p>
                FutureStates is agnostic to how to load code on demand. It does not itself implement delayed
                loading of state source code (controllers, views).  However, an example is included for loading code
                on demand, using <a href="http://requirejs.org/">RequireJS</a> and
                <a href="http://marcoslin.github.io/angularAMD/#/home">AngularAMD</a>.
            </p>

            <p>
                An example StateFactory called ngloadStateFactory is provided in ui-router-extras which uses
                ngload from the <a href="http://marcoslin.github.io/angularAMD/#/home">AngularAMD</a> project to load a
                module on demand. <a href="http://marcoslin.github.io/angularAMD/#/home">AngularAMD</a> uses RequireJS
                to load and inject angular code into the DI system.
            </p>
        </div>
    </section>

    <section class="panel panel-default">
        <div class="panel-heading"><strong>FutureState definition</strong></div>
        <div class="panel-body">
            <div>FutureStates have the following attributes:</div>
            <dl class="dl-horizontal">
                <dt>stateName</dt>
                <dd>The placeholder state name (fully qualified)</dd>

                <dt>pathFragment</dt>
                <dd>The placeholder url path fragment</dd>

                <dt>type</dt>
                <dd>The type of FutureState. This is a used to select a registered StateFactory which is then used
                    to build the full UI-Router state
                </dd>
            </dl>
        </div>
    </section>
</div>
